body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #000;
}

body::before,
body::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: scroll 60s linear infinite;
}

body::before {
    background-image: url("static/small_stars.png");
    opacity: 0.5;
    animation-duration: 120s;
}

body::after {
    background-image: url("static/big_stars.png");
    animation-duration: 60s;
}

@keyframes scroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}