@font-face {
    font-family: 'alagard';
    src: url('static/alagard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:visited {
    color: rgb(255, 0, 0);
}

a:hover {
    color: rgb(0, 255, 0);
}

div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

body {
    font-family: "alagard", Arial, sans-serif;
    margin: 0;
    padding: 10px;
    min-height: 100%;
    background-color: #000000;

}

h1 {
    color: #797979;
    animation: fadeIn 2s;
    padding-top: 15px;
}

h3 {
    color: #797979;
    padding: 0px;
    margin: 0px;
}

p {
    color: #c4c4c4;
    padding: 10px;
    font: 16px "alagard";
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #999;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
}

.box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    padding-top: 1px;
    min-width: 25%;
    background-color: #45454548;
    border-radius: 10px;
    /* max-width: max-content; */
}
.box:hover{
    background-color: #ff00004f;
    transition: background-color 1s ease;
}

.about{
    padding-top: 10px;
    background-color: rgba(70, 40, 40, 0.705);
}

.gradient-text {
    background: linear-gradient(90deg, #ff0000, #ae00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s forwards;
}    

animation {
    animation-name: fadeIn;
    animation-duration: 2s;
}    

@keyframes fadeIn {
    from {
        opacity: 0;
    }    

    to {
        opacity: 1;
    }        
}

